html{    
    height:100%;
}

body{
    margin:0 auto;
    height:100%;
    border: 1px solid hotpink;
}

 .header{
     background-color: pink;
     border:1px solid teal;
     color:black;
 }

 /*____________HEADER__________________*/

 nav ul li{
	list-style-type: none;/*saca estilos de lista*/
	display: inline-block;/*todas las listas*/
 }

ul{
	margin-bottom: 50px;
}

.li-logo-laboratoria{/*logo imagen laboratoria*/
 	width: 180px;
 	position: absolute;
 	right: 600px;

 }

.fa-2x {/*icono menu en header*/
    font-size: 10px;
    position:absolute;
    right:100px;
    top:30px;
}


/*__________________SELECCIONAR_______________*/

#seleccionar{
    border: 1px solid orange;
    width:87.5%;
    display: inline-block;
    margin-left: 160px;
}

#seleccionar_ciudad{
    border: 1px solid greenyellow;
    width:280px;
    display: inline-block;
}

#select_ciudad{
    font-size: 24px;
    font-weight: bold;
    width:280px;
    background-color: transparent;
    border:none;    
    font-family: inherit;
}

#seleccionar_generacion{
    border:1px solid red;
    width:120px;
    display: inline-block;
}

#select_generacion{
    font-size: 24px;
    font-weight: bold;
    width:120px;
    background-color: transparent;
    border:none; 
    font-family: inherit;
}

/*______MENU TABS___________________*/
/* estilo de la tabla*/
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index:0;
}

/* estilo de los botones dentro de la pestaña */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Cambiar el color de fondo de los botones al desplazarse */
div.tab button:hover {
    background-color: #ddd;
}

/* crea un active y da color  */
div.tab button.active {
    background-color: #ccc;
}

/* estilo en el contenido de la tabla */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	background: #ccc;
}

/*____Pestaña Info General_____*/
.info-general{/*modifica los contenedores superiores de esta pestaña*/
	border:1px solid black;
	display: inline-block;
	width: 250px;
	height: 180px;
	background: #FFFFFF;
}

#overview{
    border:1px solid green;
}

#overview td{
    padding: 0px;
    vertical-align: top;
    text-align: center;
}

#overview img{
    height: 80px;
}

#overview p{
    margin:4px;
}

/*__________MENU VERTICAL_________________________*/

.nav-menu-vertical{
    width:156px;
    position: fixed ;
    top:82px !important;
    border:1px solid yellow;
    height:90%;
    background-color: white;
}

.nav-menu-vertical ul {
	list-style: none;/*le quita el estilo a la lista (Estilo puntos)*/
	margin: 0;
	padding: 0;
	line-height: 24px;	
}

.nav-menu-vertical ul li{
	background: #f5f5f0;
	display: inline;
	widows: 150px;
	}
	
a{	
	display: block;/*transforma de linea a block, asi ocupa el espacio ancho etiqueta padre*/
	text-decoration: none;
	color:#000;
	padding-left:8px;
}

a:hover {
	background:#e0e0d1;	
}

.usuario{
	background:#f9a91a;
}

.usuario a {
	color:#fff;
}

.usuario a:hover{/*hover estilo de un enlace al pasar mouse*/
	color:#000;
}

.usuario a:active{/*active estilo de un enlace al hacer clik*/
	color:#fff;
}

a:active{
	background:#333 ;
	color:#fff;
}
.icono-mujer{
	width: 50px;	
}

/*____________________SECCION GRAFICOS________________________*/
/*____________________puntaje técnico_________________________*/
#graficos{
    position: relative;
    width:87.5%;
}

#notas_tecnicas{
    border:1px solid brown;   
}

#notas_tecnicas h4{
    display: inline-block;
    border:1px solid teal;
    margin: 1px;
}

#notas_tecnicas p{
    margin: 1px;
    font-size: 14px;
}

#select_curso{
    border:1px solid turquoise;
}

#notas_tecnicas table{
    margin-top:5px;
}

#notas_tecnicas td{
    border: 1px solid palevioletred;
    text-align: center;
    width: 200px;
}

/*____________________puntaje hse_________________________*/

#notas_hse{
    border:1px solid brown;   
    margin-left:
}

#notas_hse h4{
    display: inline-block;
    border:1px solid teal;
    margin: 1px;
}

#notas_hse p{
    margin: 1px;
    font-size: 14px;
}

#select_hse{
    border:1px solid turquoise;
}

#notas_hse table{
    margin-top:5px;
}

#notas_hse td{
    border: 1px solid palevioletred;
    text-align: center;
    width: 200px;
}