body{
	margin:0 auto;
}

 .header{
     background-color: pink;
     border:1px solid teal;
     color:black;
 }

 /*____________HEADER__________________*/

 nav ul li{
	list-style-type: none;/*saca estilos de lista*/
	display: inline-block;/*todas las listas*/
 }

ul{
	margin-bottom: 30px;
}

.li-logo-laboratoria{/*logo imagen laboratoria*/
 	width: 180px;
 	position: absolute;
 	right: 600px;

 }

.fa-2x {/*icono menu en header*/
    font-size: 10px;
    position:absolute;
    right:100px;
    top:30px;
}

/*_______CONTENEDOR NAVEGADOR CIUDADES ____*/

.contenedor-menu-ciudades{
	background: #E1E1E1;
}





/*__________________SELECCIONAR_______________*/

#seleccionar{
    border: 1px solid orange;
    width:610px;
}

#seleccionar_ciudad{
    border: 1px solid greenyellow;
    width:300px;
    display: inline-block;
}

#select_ciudad{
    font-size: 24px;
    font-weight: bold;
    width:300px;
    background-color: transparent;
    border:none;    
}

#seleccionar_generacion{
    border:1px solid red;
    width:300px;
    display: inline-block;
}