html{    
    height:100%;
}

body{
    margin:0 auto;
    height:100%;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
}

 .header{
     background-color: pink;
     border:1px solid transparent;
     color:black;
 }

 /*____________HEADER__________________*/

 nav ul li{
	list-style-type: none;/*saca estilos de lista*/
	display: inline-block;/*todas las listas*/
 }

ul{
	margin-bottom: 50px;
}

.li-logo-laboratoria{/*logo imagen laboratoria*/
 	width: 180px;
 	position: absolute;
 	right: 600px;

 }

.fa-2x {/*icono menu en header*/
    font-size: 10px;
    position:absolute;
    right:100px;
    top:30px;
}


/*__________________SELECCIONAR_______________*/

#seleccionar{
    border: 1px solid transparent;
    width:87.5%;
    display: inline-block;
    margin-left: 155px;
}

#seleccionar_ciudad{
    border: 1px solid transparent;
    width:280px;
    display: inline-block;
    height:45px;
}

#select_ciudad{
    font-size: 24px;
    font-weight: bold;
    width:280px;
    background-color: transparent;
    border:none;    
    font-family: inherit;
}

#seleccionar_generacion{
    border:1px solid transparent;
    width:120px;
    display: inline-block;
}

#select_generacion{
    font-size: 24px;
    font-weight: bold;
    width:120px;
    background-color: transparent;
    border:none; 
    font-family: inherit;
}

/*______MENU TABS___________________*/
/* estilo de la tabla*/
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index:0;
}

/* estilo de los botones dentro de la pesta침a */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Cambiar el color de fondo de los botones al desplazarse */
div.tab button:hover {
    background-color: #ddd;
}

/* crea un active y da color  */
div.tab button.active {
    background-color: #ccc;
}

/* estilo en el contenido de la tabla */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	background: #ccc;
}

/*____Pesta침a Info General_____*/
.info-general{/*modifica los contenedores superiores de esta pesta침a*/
	border:1px solid black;
	display: inline-block;
	width: 250px;
	height: 180px;
	background: #FFFFFF;
}

#overview{
    border:1px solid transparent;
}

#overview td{
    padding: 0px;
    vertical-align: top;
    text-align: center;
}

.graficos-superiores{/*graficos superiores en linea*/
    height: 80px;
}

#overview h4{
    margin:4px;
}

#overview p{
    font-size: 14px;
    margin:4px;
}

/*__________MENU VERTICAL_________________________*/

.nav-menu-vertical{
    width:156px;
    position: fixed ;
    top:0px !important;
    border-right:1px solid lightgray;
    height:90%;
    background-color: white;
}

.nav-menu-vertical ul {
	list-style: none;/*le quita el estilo a la lista (Estilo puntos)*/
	margin: 0;
	padding: 0;
	line-height: 50px;	
}

.nav-menu-vertical ul li{
	background: #f5f5f0;
    display: inline;
    }
    
.nav-menu-vertical i{
    color:grey;
    margin-right:20px;
    font-size: 16px;
}
	
a{	
	display: block;/*transforma de linea a block, asi ocupa el espacio ancho etiqueta padre*/
	text-decoration: none;
	color:#000;
    padding-left:8px;
    font-size: 14px;
}

a:hover {
	background:#e0e0d1;	
}

.usuario{
    background:#f9a91a;
	line-height: 24px !important;	    
}

.usuario a {
	color:#fff;
}

.usuario a:hover{/*hover estilo de un enlace al pasar mouse*/
	color:#000;
}

.usuario a:active{/*active estilo de un enlace al hacer clik*/
	color:#fff;
}

a:active{
	background:#333 ;
	color:#fff;
}
.icono-mujer{
	width: 50px;	
}

/*____________________SECCION GRAFICOS________________________*/

/*____________________divs de puntajes y gr치ficos_________________________*/
#graficos{
    position: relative;
    width:87.5%;
    border: 1px solid transparent; 
    margin-top:10px;
    margin-left:2px;
    width:1006px;
}

.div_notas{
    border:1px solid transparent;   /*distingue el alcance del contenedor*/
    background:#FFFFFF;
    border-radius: 3px;    
    padding: 20px; 
    margin-bottom: 10px; 
}

.div_notas h4{
    display: inline-block;
    border:1px solid transparent;
    margin: 1px;
}

.div_notas p{
    margin: 1px;
    font-size: 14px;
}

#select_curso{/*selecciona Sprint en puntaje tecnico*/
    border:1px solid transparent;
}

.div_notas table{
    margin-top:5px;
    border:1px solid transparent;
}

.div_notas td{
    border:1px solid transparent;  
    width:500px;
}

.chart{
    border: 1px solid #ccc;
    text-align: center;
}

.img-graficos-body{/*div de graficos y textos en pntje tecnico*/
    border: 3px solid red;
    text-align: center;
    width: 400px;
    height: 300px;
    margin-left: 40px;
}

.turno{
    display: inline-block;
}

/*____________________puntaje hse_________________________*/
/*
#notas_hse{
    border:1px solid transparent;   
    margin:10px;    
    background:#FFFFFF;
    border-radius: 3px;    
    padding: 10px;  
    
}

#notas_hse h4{
    display: inline-block;
    border:1px solid transparent;
    margin: 1px;
}

#notas_hse p{
    margin: 1px;
    font-size: 14px;
}

#select_hse{
    border:1px solid transparent;
}

#notas_hse table{
    margin-top:5px;
}

#notas_hse td{
    border: 1px solid transparent;
    text-align: center;
    width: 200px;
}
*/


/*_________________ESTUDIANTES________________________*/

#contenedor_alumnas{
    border:1px dotted transparent;
}

#especialidades{
    border:1px dotted transparent;
    width: 200px;
    display: inline-block;
}
.div_students{
    margin: 0px 0px 20px 50px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
}

#tabla_estudiantes {
    background-color: white;
}

#tabla_estudiantes tr{
    background-color: white;
}

#tabla_estudiantes td{
    border:none;
    width:120px;
    text-align: center;
    vertical-align: top;
}

#tabla_estudiantes h4{
    margin: 10px 5px 0px;
    padding: 5px;
    background-color: lightgrey;
    border-radius: 3px 3px 0px 0px;
}

#tabla_estudiantes h5{
    margin: 0px 5px;
    padding: 5px;
    background-color: lightgrey;
    border-radius: 0px 0px 3px 3px;
}