body{
	margin:0 auto;
}

 .header{
     background-color: pink;
     border:1px solid teal;
     color:black;
 }

 /*____________HEADER__________________*/

 nav ul li{
	list-style-type: none;
	display: inline-block;
 }


.li-logo-laboratoria{/*logo imagen laboratoria*/
 	width: 180px;
 	margin-left: 500px;

 	
 }

.fa-2x {/*icono menu en header*/
    font-size: 10px;
    position:absolute;
    right:100px;
    top:30px;

}




/*__________________SELECCIONAR_______________*/

#seleccionar{
    border: 1px solid orange;
    width:402px;
}

#seleccionar_ciudad{
    border: 1px solid greenyellow;
    width:400px;
}

#seleccionar_generacion{
    border:1px solid red;
    width:400px;
}